
         <!-- HEADER AND NAVBAR -->

				<nav class="navbarNoMarginBottom navbar-default navbar-fixed-top" id="navbarFixed">
				  <div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li><a ng-click="scrollTo('Chips')">Chips</a></li>
				        <li><a>|</a></li>
						<li><a ng-click="scrollTo('Sausages')">Sausages</a></li>
						<li><a>|</a></li>
						<li><a ng-click="scrollTo('Burgers')">Burgers</a></li>
						<li><a>|</a></li>
						<li><a ng-click="scrollTo('Chicken')">Chicken</a></li>
						<li><a>|</a></li>
						<li><a ng-click="scrollTo('Fish')">Fish</a></li>
						<li><a>|</a></li>
				    </ul>
				    <ul class="nav navbar-nav navbar-right">
					    <li class="label-info">
					    	<a href="#checkout">
					     	
					     		<i class="fa fa-shopping-cart" aria-hidden="true"></i> {{basket.length}} - {{basketPrice | currency}}
				     		
				     		</a>
		     			</li>
				    </ul>
				     <!--  <ul class="nav navbar-nav navbar-right">
				      	<form class="navbar-form navbar-left">
					        <div class="form-group">
					          <input type="text" class="form-control" placeholder="Search" />
					        </div>
					        <button type="submit" class="btn btn-default">Search</button>
				      	</form>

				      </ul> -->
				    </div>
				  </div>
				</nav>



<div id="mainContainer">
<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Chipper Menu <span class="label label-info"></span></h1>
		</div>

		<!-- <!-- TODO LIST 
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				

				<!-- LOOP OVER THE TODOS IN $scope.todos 
				<div class="checkbox" ng-repeat="todo in todos">
					<label>
						<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<!-- FORM TO CREATE TODOS 
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR 
						<input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS 
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
				</form>
			</div>
		</div>
 -->

		
		<!-- <div>
		{{ categories.length }}
		{{ foods.length }}
		    <ul>
		        <li ng-repeat="(key, value) in categories" ng-init="parentIndex = $index">
		            <div id="{{value.category_name}}">
		            {{ value.category_name }}
		            </div>
		            <ul>
		                <li ng-repeat="food in $parent.foods | filter: filterKey(key)">
		                	<input type="checkbox" ng-click="addFood(food)"/>
		                    {{ food.food_name }} - {{food.quantity}} - <strong>€{{ food.price}}</strong>
		                </li> 
		            </ul>
		        </li>
		    </ul>
		</div> -->
		<br/>
		<br/>

		<!-- Better way to loop through a nested ng-repeat -->
        <div ng-repeat="category in categories" class="row">
	        <div class="col-md-10 col-md-offset-1 panel panel-default">
	            <div id="{{category.category_name}}">
	            	<h2>
	            		<strong>
	            			<span>{{category.category_name}}</span>
            			</strong>
        			</h2>
    			</div>
                <div ng-repeat="food in foods" ng-if="food.category_id == category.category_id">
            	<input type="checkbox" ng-click="callAddToBasket(food)"/>
                    {{ food.food_name }} - {{food.quantity}} - <strong>€{{ food.price}}</strong>
	            </div> 
        	</div>
    	</div>

    	<div>
    	<br/>
    	<br/>
    	</div>

    	<div ng-repeat="(specialIndex, special) in specials"  class="row">
			<div class="col-md-10 col-md-offset-1 panel panel-default">
					<input type="checkbox" ng-click="callAddToBasket(special)"/>
					{{specials[$index].special_name}} - €{{specials[$index].price}}
				 	
				 	
				 	 <ul ng-repeat="food in foods" ng-if="special.items_ids.indexOf(food.food_id) > -1" >
				 	 	
			            <strong><i></i>{{food.food_name}}</strong> normally <del>€{{food.price}}</del>


			        </ul>
			</div>
		</div>


        

        <!-- Footer Spacing -->
		<div>
			<br />
			<br />
			<br />
			<br />
		</div>
</div>
